In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

## Data Preprocessing

### India

In [6]:
df6= pd.read_csv('Z:\ML\ML_Recommender_Projects\Travel_recommendation_project\dataset\india.csv')
df6.sample(3)

,Place Name,Rating,About Place,Best Time To Visit
40,Vrindavan,3.7,One of the oldest cities on the banks of Yamun...,October to March
78,Srinagar,4.5,"Famously known as ‘Heaven on Earth’, Srinagar ...",April to October
31,Pachmarhi,3.9,Pachmarhi is the only hill station and is the ...,Throughout the year

In [7]:
df6.rename(columns={'Place Name':'place_name','Rating':'rating','About Place':'about_place',
                    'Best Time To Visit':'best_time_to_visit'},inplace=True)
df6.sample(2)

,place_name,rating,about_place,best_time_to_visit
89,Vaishno Devi,4.3,Vaishno Devi is a temple town that's home to t...,Throughout the year
94,Mcleodganj,4.3,"Mcleodganj is a hill station near Dharamshala,...",October to June

In [8]:
name = []
for i in df6['about_place']:
    name.append('India ' + i)
df6['about_place'] = name
df6.sample(5)

,place_name,rating,about_place,best_time_to_visit
91,Ajanta and Ellora Caves,4.3,"India Ajanta and Ellora caves, considered to b...",June to March
0,Aurangabad,3.3,"India Aurangabad, which was declared by the Go...",October to March
72,Munnar,4.5,India Munnar is a popular hill-station of Kera...,September to May
31,Pachmarhi,3.9,India Pachmarhi is the only hill station and i...,Throughout the year
37,Jog Falls,3.9,India The second-highest plunge waterfall in I...,July to December

### Bhutan

In [10]:
df1 = pd.read_csv('Z:\ML\ML_Recommender_Projects\Travel_recommendation_project\dataset\Bhutan.csv')
df1.sample(3)

,Place Name,Rating,About Place,Best Time To Visit
3,Haa Valley,3.0,Known as the smallest Dzongkhang (district) of...,October - November
7,Bumthang,3.1,Home to four beautiful mountain valleys and an...,March to May and September to November
15,Chele La Pass,NaN,"Bhutan, being a country with a mountainous lan...",NaN

In [11]:
df1.rename(columns={'Place Name':'place_name','Rating':'rating','About Place':'about_place',
                    'Best Time To Visit':'best_time_to_visit'},inplace=True)
df1.sample(2)

,place_name,rating,about_place,best_time_to_visit
25,Visit the Motithang Takin Preserve,NaN,"The crown jewel of Thimphu, Motithang Takin Pr...",NaN
6,Jakar,3.2,"Nestled at the foothills of Choekhor Valley, J...","March to May, September to November"

In [12]:
df1['rating'].fillna(df1['rating'].mode()[0],inplace=True)
df1['best_time_to_visit'].fillna('Throughout the year',inplace=True)
name = []
for i in df1['about_place']:
    name.append('Bhutan ' + i)
df1['about_place'] = name
df1.sample(5)

,place_name,rating,about_place,best_time_to_visit
23,Hike Up the Tiger's Nest - Trek & Trekking Trail,3.2,"Bhutan Tiger's Nest Monastery, or Paro Taktsan...",Throughout the year
20,Rock Climbing in Bhutan,3.2,Bhutan While many tourists love conquering the...,Throughout the year
2,Phobjikha Valley (Gangtey),3.8,Bhutan Against the backdrop of western slopes ...,October to December
4,Phuentsholing,3.5,"Bhutan The second largest town in Bhutan, Phue...",Throughout the year
14,Royal Manas National Park,3.2,"Bhutan The oldest national park in Bhutan, Roy...",Throughout the year

### Singapore

In [14]:
df2 = pd.read_csv('Z:\ML\ML_Recommender_Projects\Travel_recommendation_project\dataset\singapore.csv')
df2.rename(columns={'Place Name':'place_name','Rating':'rating','About Place':'about_place',
                    'Best Time To Visit':'best_time_to_visit'},inplace=True)
df2.isnull().sum()

place_name      0
rating         22
about_place     0
dtype: int64

In [15]:
df2['rating'].fillna(df2['rating'].mode()[0],inplace=True)
name = []
for i in df2['about_place']:
    name.append('Singapore ' + i)
df2['about_place'] = name

In [16]:
df2['rating'] = df2['rating'].replace(24.0, 2.4)

In [17]:
df2['best_time_to_visit'] = 'Throughout the year'
df2.sample(4)

,place_name,rating,about_place,best_time_to_visit
99,Kent Ridge Park,3.3,Singapore The Kent Ridge Park is a sprawling 4...,Throughout the year
206,Singapore Armenian Church,3.4,Singapore The Armenian Church of Saint Gregory...,Throughout the year
1,Affordable Art Fair,2.5,Singapore Art is a form of expression. It expr...,Throughout the year
110,Chestnut Park,3.2,Singapore Chestnut Nature Park is the largest ...,Throughout the year

### Thailand

In [19]:
df3 = pd.read_csv('Z:\ML\ML_Recommender_Projects\Travel_recommendation_project\dataset\Thailand.csv')
df3.rename(columns={'Place Name':'place_name','Rating':'rating','About Place':'about_place',
                    'Best Time To Visit':'best_time_to_visit'},inplace=True)
df3.isnull().sum()

place_name             0
rating                 2
about_place            0
best_time_to_visit    24
dtype: int64

In [20]:
df3['rating'].fillna(df1['rating'].mode()[0],inplace=True)
df3['best_time_to_visit'].fillna('Throughout the year',inplace=True)
name = []
for i in df3['about_place']:
    name.append('Thailand ' + i)
df3['about_place'] = name
df3.sample(5)

,place_name,rating,about_place,best_time_to_visit
28,Sukhothai,3.0,Thailand Sukhothai is home to approximately 19...,November to February
30,Koh Kood,3.8,"Thailand Koh Kood, commonly spelt as Koh Kut, ...",November to March
46,Krabi Town,4.5,Thailand Although it doesn't have any beaches ...,November to March
11,Khao Sok National Park,3.2,Thailand Khao Sok National Park is located in ...,Throughout the year
52,Koh Nang Yuan,3.9,Thailand The picturesque island of Koh Nang Yu...,Throughout the year

### Vietnam

In [22]:
df4 = pd.read_csv('Z:\ML\ML_Recommender_Projects\Travel_recommendation_project\dataset\Vietnam.csv')
df4.rename(columns={'Place Name':'place_name','Rating':'rating','About Place':'about_place',
                    'Best Time To Visit':'best_time_to_visit'},inplace=True)
df4.isnull().sum()

place_name             0
rating                 2
about_place            0
best_time_to_visit    18
dtype: int64

In [23]:
df4['rating'].fillna(df1['rating'].mode()[0],inplace=True)
df4['best_time_to_visit'].fillna('Throughout the year',inplace=True)
name = []
for i in df4['about_place']:
    name.append('Vietnam ' + i)
df4['about_place'] = name
df4.sample(5)

,place_name,rating,about_place,best_time_to_visit
47,Nui Sam,3.2,"Vietnam Sam Mountain, known locally as Nui Sam...",Throughout the year
26,Cat Tien National Park,4.0,Vietnam Cat Tien National Park is located in t...,Throughout the year
32,Mong Cai,3.1,"Vietnam Nestling on the very edge of Vietnam, ...",April - July
10,Hue,3.7,"Vietnam Hue, the former royal capital of the N...",January to April
4,Nui Sam,3.2,"Vietnam Sam Mountain, known locally as Nui Sam...",Throughout the year

### Indonesia

In [25]:
df5 = pd.read_csv('Z:\ML\ML_Recommender_Projects\Travel_recommendation_project\dataset\Indonesia.csv')
df5.rename(columns={'Place Name':'place_name','Rating':'rating','About Place':'about_place',
                    'Best Time To Visit':'best_time_to_visit'},inplace=True)
df5.isnull().sum()

place_name             0
rating                10
about_place            0
best_time_to_visit    42
dtype: int64

In [26]:
df5['rating'].fillna(df1['rating'].mode()[0],inplace=True)
df5['best_time_to_visit'].fillna('Throughout the year',inplace=True)
name = []
for i in df5['about_place']:
    name.append('Indonesia ' + i)
df5['about_place'] = name
df5.sample(5)

,place_name,rating,about_place,best_time_to_visit
43,Balikpapan,3.3,Indonesia Balikpapan ranks high among Indonesi...,Throughout the year
10,Komodo Island,4.0,Indonesia Komodo Island has been named as one ...,Throughout the year
46,Karimunjawa Islands,3.2,Indonesia An archipelago that consists of 27 i...,Throughout the year
25,Manado,3.8,Indonesia The capital city of North Sulawesi i...,Throughout the year
21,Makassar,3.5,"Indonesia A bustling port, Makassar is the lar...",June to September

In [27]:
dfs = [df6, df1, df2, df3, df4, df5]
df = pd.concat(dfs,ignore_index=True)

In [28]:
df.isnull().sum()

place_name            0
rating                0
about_place           0
best_time_to_visit    0
dtype: int64

In [29]:
df.shape

(538, 4)

## Webscrap

In [31]:
import requests
from bs4 import BeautifulSoup

In [32]:
URL = 'https://www.holidify.com/places/aurangabad/'
webpage = requests.get(URL).text
soup = BeautifulSoup(webpage,'lxml')

In [33]:
link = []
for i in df['place_name']:
    link.append(f"https://www.holidify.com/images/bgImages/{i.upper()}.jpg")
df['link'] = link
df['link'].shape

(538,)

## Spacy

In [35]:
import spacy

In [36]:
nlp = spacy.load("en_core_web_lg")

In [37]:
df.sample(2)

,place_name,rating,about_place,best_time_to_visit,link
513,Depok,3.5,"Indonesia A city in the West Java province, De...",Throughout the year,https://www.holidify.com/images/bgImages/DEPOK...
391,Mae Hong Son,3.9,Thailand Located in the north-west Thesaban Mu...,Throughout the year,https://www.holidify.com/images/bgImages/MAE H...

In [66]:
score_list = []
explore = nlp(input())
for i in df['about_place']:
    z = nlp(i)
    score_list.append(explore.similarity(z))
index_value = sorted(enumerate(score_list),reverse=True,key = lambda x:x[1])[0:5]
for index, value in index_value:
    print(df['place_name'][index])

 India Religious place

Sri Vadapathira Kaliamman Temple
Shirdi
Loyang Tua Pek Kong
Amarnath
Rameshwaram

In [68]:
import pickle
pickle.dump(df,open('travel_place.pkl','wb'))

In [70]:
pickle.dump(nlp,open('nlp.pkl','wb'))

In [112]:

text = 'india'

score_list = []
rating_list = []
z = []
name = []
for i in df['about_place']:
    z = nlp(i)
    score_list.append(w1.similarity(z))
index_value = sorted(enumerate(score_list),reverse=True,key = lambda x:x[1])[0:5]

for index,value in index_value:
    z.append(index)
for i in z:
    name.append(df['rating'][i])
    
print(name)
# rating_list.append(enumerate(str(df['rating'][index])))
# sort_rating = sorted(enumerate(rating_list),reverse=True,key = lambda x:x[1])
# for i in sort_rating:
#     print(i)

AttributeError: 'spacy.tokens.doc.Doc' object has no attribute 'append'